body {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.login-form {
    background-color: white;
    border-radius: 28px;
    width: 450px;
    height: 450px;
    margin-top: 150px;
    margin-bottom: auto;
    padding: 20px 40px;
}
