body {
    background-color: #ebebeb;
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

p, cite {
    color: #696969;
}

header {
    background-color: #ffffff;
    margin: 20px auto 10px auto;
    width: 25%;
    height: 50px;
    border-radius: 28px;
    vertical-align: top;
    padding: 3px;
}

header h2 {
    cursor: none;
}

footer {
    background-color: black;
    border-radius: 28px 28px 0px 0px;
    color: #ebebeb;
    padding: 30px 60px 30px 60px;
    margin-top: 120px;
    margin-bottom: 0;
}

footer p {
    color: #ebebeb;
}

footer span {
    font-size: 18px;
}

header:hover p {
    opacity: 0.7;
}

.footer-left h4 {
    cursor: pointer;
    color: #696969;
}
