@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 15px #00ff00;
    }
    50% {
        opacity: 0.4;
        transform: scale(0.9);
        box-shadow: 0 0 4px #009900;
    }
}
