.items-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.items-head p {
    cursor: pointer;
}

.items-head h2 {
    margin-bottom: 6px;
}

.items-head:hover h2 {
    color: #ffffff;
    border: #000000 1px solid;
    transition: all 0.2s;
}

.container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    box-sizing: border-box;
}

.hello-card {
    background-color: #ffffff;
    margin: 20px 10px 20px 10px;
    padding: 20px 20px 40px 40px;
    border-radius: 24px;
    height: 600px;
    width: 60%;
    font-size: 32px;
    position: relative;
    overflow: hidden;
}

.hello-card p {
    font-size: 22px;
    margin: 0;
}

.login-card {
    position: relative;
    background-color: #ffffff;
    color: #000000;
    border-radius: 24px;
    transition: 0.4s all;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    margin-bottom: 5px;
    margin-top: 20px;
    border: #000000 2px solid;
    overflow: hidden;
}


.login-card img {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: auto;
    pointer-events: none;
}

.uptime-card {
    background-color: #ffffff;
    color: #000000;
    border-radius: 24px;
    padding: 40px;
    transition: 0.4s all;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    transition: 0.4s all;
}

#webB {
    position: absolute;
    bottom: 60px;
    right: 30px;
    width: 250px;
    height: auto;
    pointer-events: none;
    transition: opacity 0.4s ease;
    opacity: 1;
}

#webW {
    position: absolute;
    bottom: 60px;
    right: 30px;
    width: 250px;
    height: auto;
    pointer-events: none;
    transition: opacity 0.4s ease;
    opacity: 0;
}

.uptime-card:hover #webB {
    opacity: 0;
}

.uptime-card:hover #webW {
    opacity: 1;
}

.uptime-card:hover,
.login-card:hover {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    cursor: pointer;
}

.login-card:hover img {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: auto;
    pointer-events: none;
}

.uptime-card:hover cite,
.login-card:hover cite {
    color: #ffffff;
}

.uptime-card:hover img {
    position: absolute;
    bottom: 60px;
    right: 30px;
    width: 250px;
    height: auto;
    pointer-events: none;
}

.prem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 28px;
    padding: 20px 20px 40px 40px;
    margin-top: 10px;
    gap: 10px;
    font-size: 26px;
}

.faq-block {
    padding: 20px 20px 40px 40px;
    margin-top: 10px;
    gap: 10px;
    font-size: 26px;
}

.faq-block p {
    margin-left: 40px;
}

.prem-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.faq-block h2,
.prem h2 {
    text-align: left;
    margin-left: 40px;
}

.prem img {
    margin-top: 40px;
    margin-right: 40px;
    width: 350px;
    height: auto;
}

.info-block {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: #ffffff;
    border-radius: 28px;
    padding: 40px;
}

.info-block img {
    width: 64px;
    height: 64px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.info-item h4 {
    font-size: 28px;
    margin: 0 0 10px 0;
}

.info-item p {
    font-size: 22px;
    margin: 0;
}

.cursor-big {
    display: inline-block;
    width: 10px;
    height: 30px;
    background-color: black;
    margin-right: 5px;
    animation: blink 1s step-start infinite;
}

.cursor {
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: black;
    margin-right: 5px;
    animation: blink 1s step-start infinite;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(20, 236, 124);
    box-shadow: 0 0 10px #00ff00;
    animation: pulse 2s ease-in-out infinite;
    margin-right: 10px;
    margin-left: 40px;
    margin-bottom: 2px;
}

.hello-card img {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 600px;
    height: auto;
    pointer-events: none;
}

.your-server {
    display: grid;
    padding: 20px 20px 40px 40px;
    margin-top: 10px;
    gap: 10px;
    font-size: 26px;
}

.your-server h2 {
    text-align: left;
    margin-left: 40px;
}

.your-server p {
    font-size: 22px;
    margin: 0;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-right span {
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.footer-right span:hover {
    opacity: 0.7;
}

.tariffs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 80px 80px 80px
}

.pane {
    background-color: white;
    width: calc(33.333% - 20px);
    border-radius: 24px;
    padding: 10px 30px 30px 30px;
    box-sizing: border-box;
    text-align: center;
}

.pane h2 {
    font-size: 30px;
}

.pane p {
    font-size: 16px;
}

.pane img {
    width: 16px;
    height: auto;
}

#button {
    display: flex;
    justify-content: center;
    background-color: black;
    color: #ebebeb;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    align-items: center;
}

.support-button {
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    border: #000000 1px solid;
    border-radius: 20px;
    width: 30%;
    height: 80px;
    align-items: center;
    margin-left: 40px;
}

.support-button p {
    color: black;
}

.support-button:active p {
    color: #ebebeb;
}

#button p {
    color: #ffffff;
}

#button:hover {
    box-shadow: 0 0 15px #6dff6d;
    transition: 0.4s all;
}

#button:active {
    background-color: #6dff6d;
    transition: 0.2s all;
}

.support-button:hover {
    border: #000000 4px dashed;
    transition: 0.2s all;
}

.support-button:active {
    background-color: black;
    transition: 0.2s all;
}
